<p id="notice"><%= notice %></p>

<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-success',style:'color: white' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-danger', style:'color: white'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', class: 'btn btn-success'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<h1>One Menus</h1>
<div class="container">
   <div class="row">

    <% @one_menus.each do |one_menu| %>
    <div class="col-md-4">
       <b> <%= one_menu.name %></b>
        <%= link_to 'Destroy', one_menu, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm", style: "color: white" %>






          <% one_menu.products.each do |product| %>
          <ol>
            <form>
          <div class="col-md-7">
            <li>
              <span style="float: left;">
                <%= form.check_box("product_ids", {:multiple => true}, "#{product.id}", nil) %><%= product.name%></span> <span style="float: right;"><%= product.price %></span> 
            </li>
          </div>
        </form>
          </ol>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
   
<br>

<%= link_to 'New One Menu', new_one_menu_path, class: "btn btn-success" %>
<%= link_to 'back to home', root_path, class: "btn btn-warning" %>
