<%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', style:'color: white'  %>
<table class="table table-bordered">
	<thead >
		<tr>
			<th>name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Address</th>
			<th>Joined at</th>
		</tr>
	</thead>
	<%@users.each do |user|%>
	<% if user.admin? || user.sale %>
	<tr>
		<td color='red'><%=user.name%></td>
		<td><%= user.email%></span></td>
		<td><%= user.contact%></td>
		<td><%= truncate(user.address)%></td>
		<td><%= user.created_at.to_date%></td>
	</tr>
	<%else%>
	<tr>
		<td><%=user.name%></td>
		<td><%= user.email%></td>
		<td><%= user.contact%></td>
		<td><%= truncate(user.address, length: 15) %></td>
		<td><%= user.created_at.to_date%></td>
	</tr>
	<%end%>
	<%end%>
</table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
</div>