<%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', style:'color: white'  %>
<% if @orders.present? %>
	<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Contact Number</th>
				<th>Address</th>
				<th>Special Note</th>
				<th>Status</th>
				<th>Details</th>
				<th>Actions</th>
			</tr>
			
		<% @orders.each do |order|%>	
		<tr>
			<td><%= order.user.name %></td>
			<td><%= order&.user.contact %></td>
			<td><%= order&.user.address %></td>
			<td><%= order&.special_notes %></td>
			<% if order.status == "delivered" %>
				<td ><span class="btn btn-success"><%= order&.status  %></span></td>
			<% elsif order.status == "rejected" %>
				<td ><span class="btn btn-danger"><%= order&.status  %></span></td>
			<% elsif order.status == "accepted" %>
				<td ><span class="btn btn-primary"><%= order&.status  %></span></td>
			<%else%>
				<td ><span class="btn btn-warning"><%= order&.status  %></span></td>
			<%end%>
			<td ><span class="btn btn-warning"><%= link_to "Order details", order_path(id: order.id), style: "color: white;" %></span></td>
			<td> <%= link_to "Accepted", order_path(id: order.id, status: "accepted"), method: :put%> </td>
			<td> <%= link_to "Delivered", order_path(id: order.id, status: "delivered"), method: :put%> </td>
			<% if order.status == 'placed' || order.status == 'accepted'%>
				<td><%= link_to "Rejected", order_path(id: order.id, status: "rejected"), method: :put%></td>
			<%end%>
		</tr>
		<% end %>
	</table>
<% else %>
	<center><h3>You don't have received any orders yet!!</h3></center>
<% end %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @orders %>
    </div>
    <%= will_paginate @orders, :container => false %>
</div>