<style type="text/css">
	.remove{
		display: none;
	}
</style>
<p id="notice"><%= notice %></p>

<div class="hotel">

<p>
  <strong>Table number:</strong>
  <%= @order.customer_name %>
</p>
<% @products = Product.where(id: @order.product_ids)%>
<table class="table table-bordered">
	<tr>
		<th>product name</th>
		<th>Quntity</th>
		<th>price</th>
		<th>total</th>
	</tr>
	<% x = 1 %>
	<% y = 1 %>

	<%@products&.each_with_index do |product, index|%>
	<tr>
		<td><%= product.name %></td>
		<td><input type="number" name="quantity" min="1" max="100" id="box1_<%= y %>" value="<%= @order.quntities[index]%>" oninput="calculate();"></td>
		<td id="box2_<%= y %>" oninput=""><%= product.price %></td>
		<td id="result_<%= x %>"><%= product.price %></td>
	</tr>
	<% x = x + 1 %>
	<% y = y + 1 %>
	<%end%>

</table>
<div id="last" style="display: none;" ><%= x-1 %></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
	<span style="font-size: 20px;" > Grand total:</span> <span id="grand_total" class="pull-right" style="font-size: 20px;">0</span>

</div>
</div>
</div>
</div>
<button onclick="removebtn()" id="print" class="btn btn-danger">Print recipte</button>


<%= link_to 'Edit', edit_order_path(@order), id: "edit" %> 
<%= link_to 'Back',  new_order_path, id: "back" %>
<center><h4 style="font-style: oblique;">Thank you for visiting here</h4><p>onewaycafe|03216466017</p></center>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
 </script>

 <script >
 	$('#print').click(function()
 	{
 		window.print();
 		location.reload();
 		document.getElementsById("1").setAttribute("class", "remove_button");
 		document.getElementsById("2").setAttribute("class", "remove_button"); 
 		document.getElementsById("print").setAttribute("class", "remove_button");  
 	});
 </script>
 <script>
 	$( document ).ready(function() {
    	calculate();
	});
 	// let plus = 0;
    function calculate() {
        var i = 1;

        var plus = 0;

        var last = parseInt(document.getElementById('last').innerText);

		for (i = 1; i <= last; i++) {

	        var myBox1 = document.getElementById('box1_'+i).value;

	        var myBox2 = document.getElementById('box2_'+i).innerText;

	        var myResult = myBox1 * myBox2;
	        // console.log(myResult);

			document.getElementById('result_'+ i).innerText = myResult;

		  plus +=  parseInt(document.getElementById('result_'+i).innerText);

        document.getElementById('grand_total').innerText = plus;
		}

    }
    // document.getElementById('grand_total').innerText = plus;


</script>
<script type="text/javascript">
	function removebtn(){
	document.getElementsByTagName("button")[0].setAttribute("class", "remove");
	document.getElementById("edit").setAttribute("class", "remove");
	document.getElementById("back").setAttribute("class", "remove");
		}

</script>