<style type="text/css">
	.remove{
		display: none;
	}
</style>
<p id="notice"><%= notice %></p>
<%= link_to "Home", root_path, :class => 'navbar-link btn btn-danger btn-sm pull-right', style:'color: white'  %>
<div class="hotel">

<p>
  Customer name:
  <%= @order.customer_name %>
  |serial #: <%= @order.id %>
</p>
<% @products = Product.where(id: @order.product_ids)%>
<table class="table table-bordered">
	<tr>
		<td>product name</td>
		<td>Quntity</td>
		<td>unit price</td>
		<td>total</td>
	</tr>
	<% x = 1 %>
	<% y = 1 %>

	<%@products&.order(:created_at).each_with_index do |product, i|%>
	<tr>
		<td style="font-size: 10px;"><%= product.name %>		</td>
		<td><input type="number" name="quantity" min="1" max="100" id="box1_<%= y %>" value="<%= @order.index[i]%>" oninput="calculate();"></td>
		<td id="box2_<%= y %>" oninput=""><%= product.price %></td>
		<td id="result_<%= x %>"><%= product.price %></td>
	</tr>
	<% x = x + 1 %>
	<% y = y + 1 %>
	<%end%>

</table>
<div id="last" style="display: none;" ><%= x-1 %></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
	<% if @order.discount > 0%>

	<span style="font-size: 15px;" >Total amount:</span> <span id="grand_total" class="pull-right" style="font-size: 15px;"><%= @order.total%></span>
	<p><span style="font-size: 15px;" > Discounted total:</span> <span class="pull-right"  style="font-size: 15px;"> <%= @order.total%></span></p>
	<%else%>
	<span style="font-size: 15px;" >Total amount:</span> <span id="grand_total" class="pull-right" style="font-size: 15px;"><%= @order.total%></span>
	<%end%>

</div>
</div>
</div>
</div>
<% if current_user.sale? || current_user.admin?%>
	<button onclick="removebtn()" id="print" class="btn btn-danger">Print recipte</button>
<%end%>

<center><h4 style="font-style: oblique; font-size: 18px;">Thank you for visiting here</h4><p>ice parlour|03128139786</p></center>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
 </script>

 <script >
 	$('#print').click(function()
 	{
 		window.print();
 		location.reload();
 		document.getElementsById("1").setAttribute("class", "remove_button");
 		document.getElementsById("2").setAttribute("class", "remove_button"); 
 		document.getElementsById("print").setAttribute("class", "remove_button");  
 	});
 </script>
 <script>
 	$( document ).ready(function() {
    	calculate();
	});
 	// let plus = 0;
    function calculate() {
        var i = 1;

        var plus = 0;

        var last = parseInt(document.getElementById('last').innerText);

		for (i = 1; i <= last; i++) {

	        var myBox1 = document.getElementById('box1_'+i).value;

	        var myBox2 = document.getElementById('box2_'+i).innerText;

	        var myResult = myBox1 * myBox2;
	        // console.log(myResult);

			document.getElementById('result_'+ i).innerText = myResult;

		  plus +=  parseInt(document.getElementById('result_'+i).innerText);

        document.getElementById('grand_total').innerText = plus;
		}

    }
    // document.getElementById('grand_total').innerText = plus;


</script>
<script type="text/javascript">
	function removebtn(){
	document.getElementsByTagName("button")[0].setAttribute("class", "remove");
	document.getElementById("edit").setAttribute("class", "remove");
	document.getElementById("back").setAttribute("class", "remove");
		}

</script>